# 1| Introduction and Basics of Python

## How print statement works

### Basic Syntax

In [22]:
print("Hello, Wordl!")

Hello, Wordl!

In [23]:
print("Rafsamjani")
print("Anugrah")

Rafsamjani
Anugrah

#### NewLine Character

In [24]:
# \n - new line character

print("Rafsamjani\nAnugrah")

Rafsamjani
Anugrah

#### Horizontal tab

In [25]:
# \t - Horizontal tab character

print("Rafsamjani\tAnugrah")

Rafsamjani	Anugrah

#### Practice

1. **Write a program to print following output:**

Your Name

        College Name

             City Name

2. **Write a program to print following output:**

&

&&

&&&

3. **Write a program to print following output:**
    
    *
    
*            *

    *

In [26]:
# Nomor 1
print("Rafsamjani Anugrah \n \tUniversitas Islam Riau \n\t\t Pekanbaru")

Rafsamjani Anugrah
 	Universitas Islam Riau
		 Pekanbaru

In [27]:
# Nomor 2
print("& \n&& \n&&&")

&
&&
&&&

In [28]:
# Nomor 3
print("\t* \t \n* \t\t* \n\t* \t")

	*
* 		*
	*

In [29]:
print("    *\n*\t*\n    *")

    *
*	*
    *

### Variables

In [30]:
a = 69 
print(a)

69

In [31]:
b = "Rafsamjani"
print(b)

Rafsamjani

In [32]:
c = 70.6
print(c)

70.6

In [33]:
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'str'>
<class 'float'>

#### Input from User

In [34]:
a = input()
print(a)

10

In [35]:
a = input()
print(a + 1)

# (concatenate) sebuah string dengan sebuah bilangan bulat (integer). Di Python, operasi ini menyebabkan TypeError karena tidak dapat menggabungkan langsung tipe data string dan integer tanpa konversi

TypeError: can only concatenate str (not "int") to str

In [ ]:
a = input()
a = int(a)

print(a + 1)

2

### input function with a message

In [ ]:
a = input("Masukkan Password")
print(a)

RAFSAJA

In [ ]:
a = input("Masukkan Username Sikad :")
print("Hello!", a)

Hello! Rafsaja

### Data Types

#### Type Conversion

To convert variables to one type to another there are some direct in-built functions:
`int()`, `float()`, `str()`, `bool()` and more.

In [38]:
a = 60.5
print(type (a))

# Konversi float ke int

b = int(a)
print(b)
print(type(b))

<class 'float'>
60
<class 'int'>

In [39]:
a = 60.5
print(type(a))

# Konversi float ke string

b= str(a)
print(b)
print(type(b))

<class 'float'>
60.5
<class 'str'>

### My Program

Question: Write a program to enter 2 values from user and print addition of them.

In [42]:
a = float(input("Masukkan IP semester 1:"))
b = float(input("Masukkan IP semester 2:"))
c = float(input("Masukkan IP semester 3:"))
d = float(input("Masukkan IP semester 4:"))

total = a+b+c+d

print(total)

14.879999999999999

In [43]:
print("Ini adalah hasil kerja keras mu semester ini:", total)

Ini adalah hasil kerja keras mu semester ini: 14.879999999999999

#### F-string & Format()

F-string dan metode .format() adalah dua cara dalam Python untuk memasukkan (interpolasi) nilai variabel ke dalam string

Fstring hanya bisa digunakan untuk python versi 3.6 keatas 

Disini saya menggunakan versi 3.12

In [54]:
# F-string -> F + "n1: {}, n2: {}, n3: {}, n4: {}"

nama = "Rafsamjani Anugrah"
kelas = "D"

kalimat = f"Nama: {nama}, Kelas; {kelas}"
print(kalimat)

Nama: Rafsamjani Anugrah, Kelas; D

In [58]:
# Format ->.format{} -> "Nilai1: {}, Nilai2: {}, Nilai3: {}, Nilai4:" + .format(x1, x2, x3, x4)

nama_baru = "Rafsamjani"
kelas_baru = "A"

kalimat_baru = "Nama: {}, Kelas: pindahan {}".format(nama_baru,kelas_baru)
print(kalimat_baru)

Nama: Rafsamjani, Kelas: pindahan A

Kesimpulan F-string vs .format()

1) Sintaks

* F-string: Menggunakan awalan f atau F sebelum string dan menyisipkan variabel langsung di dalam kurung kurawal {}.

contoh : 

nama = "John"
usia = 25
kalimat = f"Nama: {nama}, Usia: {usia} tahun"

* format(): Menyisipkan variabel menggunakan placeholder {} dan kemudian menggunakan metode .format() dengan memberikan nilai variabel sebagai argumen.

nama = "John" 
usia = 25
kalimat = "Nama: {}, Usia: {} tahun".format(nama, usia)


2) Versi Python

* F-string: Tersedia mulai dari Python versi 3.6 ke atas.
* Metode .format(): Tersedia di Python versi 2.7 dan semua versi Python 3.


3) Kelebihan 

* F-string : F-string cenderung lebih ringkas dan mudah dibaca ,  Menyediakan sintaksis yang lebih langsung dan ekspresif.
* .format(): Dukungan untuk versi Python yang lebih lama (Python 2.7), Lebih fleksibel dalam beberapa situasi kompleks.